a {
	text-decoration: none;
  font-weight: bold;
  
	color: grey;
}
a:hover {
	color: #32CD32;
}

ul .menu {
  padding: 0;
}

ul.menu li {
	display: inline; 
	margin: 5px;
  padding: 3px; 
}

header {
  position: fixed;
  top: 0;
  width: 1024px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 1024px;

	background-color: #006400;
}

h1, h2 {
	color: grey;
}

#skills, #english {
  margin: 15px;
  padding: 10px;

	background-color: #cff7db;
}

footer {
  width: 1024px;

  text-align: center;

	background-color: #148238;
}


.main-container {
  margin: 0 auto;
  width: 1024px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.central-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 1024px;
  margin-top: 80px;
}

